<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="LogSupport">
    <option name="logConfigurations">
      <ProjectLogConfigurations>
        <option name="defaultLogConfiguration">
          <DefaultLogConfiguration>
            <option name="conditionalLogLevels">
              <set>
                <option value="warn" />
              </set>
            </option>
            <option name="defaultFrameworkName" value="slf4j-xlogger" />
            <option name="logIdName" value="Default" />
          </DefaultLogConfiguration>
        </option>
      </ProjectLogConfigurations>
    </option>
  </component>
</project>